<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.bpg.persistence.AllotHistoryMapper">
  <resultMap id="allotHisDetail" type="com.uc.bpg.domain.AllotHistory">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UUID" jdbcType="CHAR" property="uuid" />
    <result column="OPERATION" jdbcType="CHAR" property="operation" />
    <result column="DEVICE" jdbcType="INTEGER" property="device" />
    <result column="HOTEL" jdbcType="INTEGER" property="hotel" />
    <result column="ROOM" jdbcType="INTEGER" property="room" />
    <result column="OPERATE_TIME" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="OPERATOR" jdbcType="INTEGER" property="operator" />
    <result column="HOTEL_NAME" jdbcType="VARCHAR" property="hotelName"/>
    <result column="ROOM_NO" jdbcType="VARCHAR" property="roomNo"/>
    <result column="OPERATER_NAME" jdbcType="VARCHAR" property="operaterName"/>
  </resultMap>
  <sql id="whereSql">
      <where>
      <trim prefixOverrides="and">
        <if test="queryForm.queryMainId !=null">
          and a.DEVICE = #{queryForm.queryMainId,jdbcType=INTEGER}
        </if>
        <choose>
        <when test="queryForm.queryHotel !=null">
          and a.HOTEL = #{queryForm.queryHotel,jdbcType=INTEGER}
        </when>
        <when test="queryForm.queryHotelName !=null">
          and b.NAME like '%${queryForm.queryHotelName}%'
        </when>
        </choose>
        <if test="queryForm.queryRoom !=null">
          and c.ROOM_NO like '%${queryForm.queryRoom}%'
        </if>
        <if test="queryForm.queryOperation !=null">
          and a.OPERATION = #{queryForm.queryOperation, jdbcType=VARCHAR}
        </if>
        <if test="queryForm.queryOperateTimeFrom !=null">
          and a.OPERATE_TIME &gt;= #{queryForm.queryOperateTime, jdbcType=TIMESTAMP}
        </if>
        <if test="queryForm.queryOperateTimeTo !=null">
          and a.OPERATE_TIME &lt;= #{queryForm.queryOperateTime, jdbcType=TIMESTAMP}
        </if>
      </trim>
    </where>
  </sql>
  <sql id="orderBySql">
    <if test="queryForm!=null and queryForm.queryOrderByClause!=null and !queryForm.queryOrderByClause.empty">
      order by ${queryForm.queryOrderByClause}
    </if>
  </sql>
  <select id="selectCountOptimized" parameterType="com.uc.bpg.forms.AllotHisQueryForm" resultType="java.lang.Long">
    select count(*) 
    from t_allot_history a
    left join t_orgnization b on b.ID=a.HOTEL
    left join t_room c on c.ID = a.ROOM
    left join t_user d on d.ID = a.OPERATOR
    <include refid="whereSql" />
  </select>
  <select id="selectOptimized" parameterType="map" resultMap="allotHisDetail">
    select 
    a.ID as ID, 
    a.DEVICE as DEVICE, 
    a.HOTEL as HOTEL, 
    a.ROOM as ROOM, 
    a.OPERATION as OPERATION, 
    a.OPERATE_TIME as OPERATE_TIME, 
    b.NAME as HOTEL_NAME, 
    c.ROOM_NO as ROOM_NO, 
    d.NAME as OPERATER_NAME
    from t_allot_history a
    left join t_orgnization b on b.ID=a.HOTEL
    left join t_room c on c.ID = a.ROOM
    left join t_user d on d.ID = a.OPERATOR
    <include refid="whereSql" />
    <include refid="orderBySql" />
    limit ${offset}, ${count}
  </select>
</mapper>