<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.bpg.persistence.ChargingMapper">
  <resultMap id="chargingRecordDetail" type="com.uc.bpg.domain.Charging">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UUID" jdbcType="CHAR" property="uuid" />
    <result column="CHECK_IN" jdbcType="INTEGER" property="checkIn" />
    <result column="CHARGE" jdbcType="DECIMAL" property="charge" />
    <result column="CHARGE_STANDARD" jdbcType="DECIMAL" property="chargeStandard"/>
    <result column="RENT" jdbcType="DECIMAL" property="rent"/>
    <result column="RECEPTIONIST" jdbcType="INTEGER" property="receptionist" />
    <result column="CHARGING_TIME" jdbcType="TIMESTAMP" property="chargingTime" />
  </resultMap>
    <sql id="orderBySql">
    <if test="queryForm!=null and queryForm.queryOrderByClause!=null and !queryForm.queryOrderByClause.empty">
      order by ${queryForm.queryOrderByClause}
    </if>
  </sql>  
  <sql id="selectSql">
   select 
    a.ID, 
    a.UUID, 
    a.HOTEL, 
    a.CHECK_IN, 
    a.CHARGE,CHARGE_STANDARD,
    a.RENT, 
    a.RECEPTIONIST, 
    a.CHARGING_TIME, 
    a.RECEPTIONIST,
    b.NAME as RECEPTIONIST_NAME    
    from t_charging a
    left join t_user b on b.ID = a.RECEPTIONIST     
  </sql>
  <sql id="whereSql" >
    <where>
    <trim prefixOverrides="and">
      <if test="queryForm.queryChargingTimeFrom !=null">
        and CHARGING_TIME &gt;= #{queryForm.queryChargingTimeFrom, jdbcType=DATE}
      </if>
      <if test="queryForm.queryChargingTimeTo !=null">
        and CHARGING_TIME &lt;= #{queryForm.queryChargingTimeTo, jdbcType=DATE}
      </if>
      <if test="queryForm.queryReceptionistName !=null">
        and b.NAME like '%${queryForm.queryReceptionistName}%'
      </if>
    </trim>
    </where>  
  </sql>  
  
  <select id="selectOptimized" parameterType="map" resultMap="chargingRecordDetail">
    <include refid="selectSql" />
    <include refid="whereSql" />
    <include refid="orderBySql" />

    limit ${offset}, ${count}
  </select>
  <select id="selectCountOptimized" parameterType="map" resultType="java.lang.Long">
  select COUNT(*) from t_charging
  <include refid="whereSql" />
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultMap="chargingRecordDetail">
    <include refid="selectSql" />
    where a.ID = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertDetail" parameterType="com.uc.bpg.domain.Charging">
    insert into t_charging (UUID, HOTEL, CHECK_IN, CHARGE, CHARGE_STANDARD, RENT, RECEPTIONIST, CHARGING_TIME)
    values (#{uuid,jdbcType=CHAR}, #{hotel,jdbcType=INTEGER}, 
      #{checkIn,jdbcType=INTEGER}, #{charge,jdbcType=DECIMAL},
      #{chargeStandard,jdbcType=DECIMAL},#{rent,jdbcType=DECIMAL}, #{receptionist,jdbcType=INTEGER}, #{chargingTime,jdbcType=TIMESTAMP})
  </insert>
    
  <select id="selectChargingStandard" parameterType="list" resultType="java.math.BigDecimal">
    select sum(CHARGE_STANDARD) from t_device_usage where ID in 
    <foreach collection="ids" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>
</mapper>