<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.bpg.persistence.DeviceUsageMapper">
	<resultMap id="deviceUsageDetail" type="com.uc.bpg.domain.DeviceUsage">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="UUID" jdbcType="CHAR" property="uuid" />
		<result column="DEVICE" jdbcType="INTEGER" property="device" />
		<result column="USE_TIME" jdbcType="TIMESTAMP" property="useTime" />
		<result column="ROOM" jdbcType="INTEGER" property="room" />
		<result column="HOTEL" jdbcType="INTEGER" property="hotel" />
		<result column="CHARGING" jdbcType="INTEGER" property="charging" />
		<result column="PAYED" jdbcType="BIT" property="payed" />
		<result column="CHARGE_STANDARD" jdbcType="DECIMAL" property="chargeStandard" />
		<result column="CHARGE" jdbcType="DECIMAL" property="charge" />
		<result column="RATIO" jdbcType="DECIMAL" property="ratio" />
		<result column="RENT" jdbcType="DECIMAL" property="rent" />
		<result column="BILL" jdbcType="INTEGER" property="bill" />
		<result column="IN_BILL" jdbcType="BIT" property="inBill" />
		<result column="PUBLIC_USAGE" jdbcType="BIT" property="publicUsage" />
		<result column="DEVICE_NAME" jdbcType="VARCHAR" property="deviceName" />
		<result column="DEVICE_SERIAL" jdbcType="VARCHAR" property="deviceSerial" />
		<result column="ROOM_NO" jdbcType="VARCHAR" property="roomNo" />

	</resultMap>
	<sql id="orderBySql">
		<if
			test="queryForm!=null and queryForm.queryOrderByClause!=null and !queryForm.queryOrderByClause.empty">
			order by ${queryForm.queryOrderByClause}
		</if>
	</sql>
	<sql id="whereSql">
		<where>
			<trim prefixOverrides="and">
				<choose>
					<when test="queryForm.queryHotel !=null">
						and a.HOTEL = #{queryForm.queryHotel, jdbcType=INTEGER}
					</when>
					<when test="queryForm.queryHotelName !=null">
						and e.NAME like '%${queryForm.queryHotelName}%'
					</when>
				</choose>
				<if test="queryForm.queryInBill">
					and a.IN_BILL
				</if>
				<if test="queryForm.queryPayed">
					and a.PAYED
				</if>
				<if test="queryForm.queryRoomNo !=null">
					and d.ROOM_NO like '%${queryForm.queryRoomNo}%'
				</if>
				<if test="queryForm.queryUseTimeFrom !=null">
					and a.USE_TIME &gt;= #{queryForm.queryUseTimeFrom, jdbcType=TIMESTAMP}
				</if>
				<if test="queryForm.queryUseTimeTo !=null">
					and a.USE_TIME &lt;= #{queryForm.queryUseTimeTo, jdbcType=TIMESTAMP}
				</if>
			</trim>
		</where>
	</sql>
	<sql id="selectSql">
		select
		a.ID,
		a.UUID,
		a.DEVICE,
		a.USE_TIME,
		a.ROOM,
		a.HOTEL,
		a.CHARGING,
		a.PAYED,
		a.CHARGE_STANDARD,
		a.CHARGE,
		a.RATIO,
		a.RENT,
		a.BILL,
		a.IN_BILL,
		a.PUBLIC_USAGE,
		concat_ws(' ', c.PRODUCT, c.NAME) as DEVICE_NAME,
		b.SERIAL_NO as DEVICE_SERIAL,
		d.ROOM_NO as ROOM_NO,
		e.NAME as HOTEL_NAME
		from t_device_usage a
		left join t_device b on b.ID=a.DEVICE
		left join t_type c on c.ID=b.TYPE
		left join t_room d on d.ID=a.ROOM
		left join t_orgnization e on e.ID = a.HOTEL
	</sql>
	<select id="selectOptimized" parameterType="map" resultMap="deviceUsageDetail">
		<include refid="selectSql" />
		<include refid="whereSql" />
		<include refid="orderBySql" />
		limit ${offset},${count}
	</select>
	<select id="selectCountOptimized" parameterType="map"
		resultType="java.lang.Long">
		select COUNT(*)
		from t_device_usage a
		left join t_device b on b.ID=a.DEVICE
		left join t_type c on c.ID=b.TYPE
		left join t_room d on d.ID=a.ROOM
		<include refid="whereSql" />
	</select>
</mapper>