<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.bpg.persistence.ExamineMapper">
  <resultMap type="com.uc.bpg.domain.Examine" id="examineMap">
    <id column="ID" jdbcType="INTEGER" property="id"/>
    <result column="MAC" jdbcType="VARCHAR" property="mac"/>
    <result column="STATUS" jdbcType="INTEGER" property="status"/>
    <result column="DATA" jdbcType="VARCHAR" property="data"/>
    <result column="RECV_TIME" jdbcType="TIMESTAMP" property="recvTime"/>    
  </resultMap>
   <sql id="orderBySql">
    <if test="queryForm!=null and queryForm.queryOrderByClause!=null and !queryForm.queryOrderByClause.empty">
      order by ${queryForm.queryOrderByClause}
    </if>
  </sql>
  <sql id="selectSql">
    select a.ID, a.MAC, a.STATUS, a.DATA, a.RECV_TIME
    from t_examine a
    left join t_device b on b.SERIAL_NO = a.MAC
  </sql>
  <sql id="whereSql">  
    <where>
      b.ID is null
    </where>    
  </sql>
  <select id="selectOptimized" parameterType="map" resultMap="examineMap">
    <include refid="selectSql" />
    <include refid="whereSql" />
    <include refid="orderBySql"/>   
    limit ${offset}, ${count}
  </select>
  <select id="selectCountOptimized" parameterType="map" resultType="java.lang.Long">
    select count(*) from t_examine
    <include refid="whereSql" />
  </select>
  <insert id="insertDetail" parameterType="com.uc.bpg.domain.Examine">
    insert into t_examine (MAC, STATUS, DATA)
    VALUES
    (#{mac,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},#{data,jdbcType=VARCHAR})
  </insert>
</mapper>