<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.bpg.persistence.FunctionMapper">
  <resultMap id="functionDetail" type="com.uc.bpg.domain.FunctionImpl">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UUID" jdbcType="CHAR" property="uuid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="URI" jdbcType="VARCHAR" property="uri" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="VALID" jdbcType="BIT" property="valid" />
    <result column="URI_PATTERN" jdbcType="VARCHAR" property="uriPattern" />
  </resultMap>
    <sql id="orderBySql">
    <if test="queryForm!=null and queryForm.queryOrderByClause!=null and !queryForm.queryOrderByClause.empty">
      order by ${queryForm.queryOrderByClause}
    </if>
  </sql>  
  <sql id="selectSql">
    select ID, UUID, NAME, URI, DESCRIPTION, VALID, URI_PATTERN
    from t_function  
  </sql>  
  <sql id="whereSql">
    
  </sql>
  
  <select id="selectOptimized" parameterType="map" resultMap="functionDetail">
    <include refid="selectSql"/>
    <include refid="whereSql"/>
    <include refid="orderBySql"/>
    limit ${offset}, ${count}
  </select>
  <select id="selectCountOptimized" parameterType="map" resultType="java.lang.Long">
    select COUNT(*) from t_function
    <include refid="whereSql" />
  </select>
  <select id="selectById" parameterType="java.lang.Long" resultMap="functionDetail">
    <include refid="selectSql" />
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertDetail" parameterType="com.uc.bpg.domain.FunctionImpl">
    insert into t_function (UUID, NAME, 
      URI, DESCRIPTION, VALID, 
      URI_PATTERN)
    values (#{uuid,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, 
      #{uri,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{valid,jdbcType=BIT}, 
      #{uriPattern,jdbcType=VARCHAR})
  </insert>
  <update id="updateDetailSelective" parameterType="com.uc.bpg.domain.FunctionImpl">
    update t_function
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="uri != null">
        URI = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        VALID = #{valid,jdbcType=BIT},
      </if>
      <if test="uriPattern != null">
        URI_PATTERN = #{uriPattern,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateDetail" parameterType="com.uc.bpg.domain.FunctionImpl">
    update t_function
    set
      NAME = #{name,jdbcType=VARCHAR},
      URI = #{uri,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      VALID = #{valid,jdbcType=BIT},
      URI_PATTERN = #{uriPattern,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>