<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.bpg.persistence.StrategeHistoryMapper">
  <resultMap id="strategeDetail" type="com.uc.bpg.domain.StrategeHistory">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UUID" jdbcType="CHAR" property="uuid" />
    <result column="HOTEL" jdbcType="INTEGER" property="hotel" />
    <result column="TOTAL_DEVICE" jdbcType="INTEGER" property="totalDevice" />
    <result column="PUBLIC_USAGE" jdbcType="INTEGER" property="publicUsage" />
    <result column="CHARGE_STANDARD" jdbcType="DECIMAL" property="chargeStandard" />
    <result column="CHARGE" jdbcType="DECIMAL" property="charge" />
    <result column="RATIO" jdbcType="DECIMAL" property="ratio" />
    <result column="BILLING_CYCLE" jdbcType="VARCHAR" property="billingCycle"/>
    <result column="BILLING_DATE_PARAM1" jdbcType="INTEGER" property="billingDateParam1"/>
    <result column="BILLING_DATE_PARAM2" jdbcType="INTEGER" property="billingDateParam2"/>
    <result column="CREATER" jdbcType="INTEGER" property="creater" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MODIFIER" jdbcType="INTEGER" property="modifier"/>
    <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
    <result column="MODIFIER_NAME" jdbcType="VARCHAR" property="modifierName"/>
    <result column="HOTEL_NAME" jdbcType="VARCHAR" property="hotelName"/>
  </resultMap>
    <sql id="orderBySql">
    <if test="queryForm!=null and queryForm.queryOrderByClause!=null and !queryForm.queryOrderByClause.empty">
      order by ${queryForm.queryOrderByClause}
    </if>
  </sql>  
  <sql id="whereSql">
  <where>
  <trim prefixOverrides="and">
  <if test="queryForm.queryBeginTimeFrom !=null">
    and a.CREATE_TIME &gt;= #{queryForm.queryBeginTimeFrom, jdbcType=TIMESTAMP}
  </if>
  <if test="queryForm.queryBeginTimeTo !=null">
    and a.CREATE_TIME &lt;= #{queryForm.queryBeginTimeTo, jdbcType=TIMESTAMP}
  </if>
  <if test="queryForm.queryEndTimeFrom !=null">
    and a.MODIFY_TIME &gt;=#{queryForm.queryEndTimeFrom, jdbcType=TIMESTAMP}
  </if>
  <if test="queryForm.queryEndTimeTo !=null">
    and a.MODIFY_TIME &lt;= #{queryForm.queryEndTimeTo, jdbcType=TIMESTAMP}
  </if>
  <if test="queryForm.queryHotelName !=null">
    and d.NAME like '%${queryForm.queryHotelName}%'
  </if>
  
  </trim>
  </where>
  </sql>
  <sql id="selectSql">
    select 
    a.ID, 
    a.UUID, 
    a.HOTEL, 
    a.TOTAL_DEVICE, 
    a.PUBLIC_USAGE, 
    a.CHARGE_STANDARD, 
    a.CHARGE, 
    a.RATIO, 
    a.BILLING_CYCLE, 
    a.BILLING_DATE_PARAM1, 
    a.BILLING_DATE_PARAM2, 
    a.CREATER, 
    a.CREATE_TIME, 
    a.MODIFIER, 
    a.MODIFY_TIME, 
    b.NAME as CREATER_NAME, 
    c.NAME as MODIFIER_NAME, 
    d.NAME as HOTEL_NAME
    form t_stratege_history a 
    left join t_user b on b.ID= a.CREATER
    left join t_user c on c.ID= a.MODIFIER
    left join t_orgnization d on d.ID = a.HOTEL and d.TYPE='酒店'
  </sql>
  <select id="selectOptimized" parameterType="map" resultMap="strategeDetail">
    <include refid="selectSql" />
    <include refid="whereSql" />
    <include refid="orderBySql" />
    limit ${offset}, ${count}
  </select>
  <select id="selectCountOptimized" parameterType="map" resultType="java.lang.Long">
    select COUNT(*) from 
    form t_stratege_history a 
    left join t_user b on b.ID= a.CREATER
    left join t_user c on c.ID= a.MODIFIER
    left join t_orgnization d on d.ID = a.HOTEL and d.TYPE='酒店'
    <include refid="whereSql" />
  </select>
  
  <insert id="insertDetail" parameterType="com.uc.bpg.domain.StrategeHistory">
    insert into t_stratege_history (UUID, HOTEL, 
      TOTAL_DEVICE, PUBLIC_USAGE, CHARGE_STANDARD, 
      CHARGE, RATIO, BILLING_CYCLE, BILLING_DATE_PARAM1,
      BILLING_DATE_PARAM2, CREATER,  CREATE_TIME,
      MODIFIER, MODIFY_TIME)
    values (#{uuid,jdbcType=CHAR}, #{hotel,jdbcType=INTEGER}, 
      #{totalDevice,jdbcType=INTEGER}, #{publicUsage,jdbcType=INTEGER}, #{chargeStangard,jdbcType=DECIMAL}, 
      #{charge,jdbcType=DECIMAL}, #{ratio,jdbcType=DECIMAL}, #{billingCycle, jdbcType=VARCHAR},
      #{billingDateParam1, jdbcType=INTEGER},#{billingDateParam2, jdbcType=INTEGER},   
      #{creater,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{modifier, jdbcType=INTEGER}, #{modifyTime, jdbcType=TIMESTAMP})
  </insert>
  
  
</mapper>